@charset "utf-8";
/**
  * 屏幕感知
  * LLFY CSS : @Screen size auto css
  * width:
  *	1080: Android旗舰机型
  *	720：Android中高阶
  *	640：iPhone5、iPhone4
  *	540：Android低阶机
  *	480：Android基本型
  *	320：iPhone3等
  */

html {
    font-size: 16px;
}

@media screen and (min-width:1080px){
    body{
        font-size:150%;
    }
}

@media screen and (min-width:720px) and (max-width:1079px){
    body{
        font-size:150%;
    }
}
@media screen and (min-width:640px) and (max-width:719px){
    body{
        font-size:150%;
    }
}
@media screen and (min-width:321px) and (max-width:639px){
    body{
        font-size:120%;
    }
}

@media screen and (max-width:320px){
    body{
        font-size:100%;
    }
}
